@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Slick Carousel Overrides */
.slick-prev,
.slick-next {
  z-index: 10;
  width: 50px;
  height: 50px;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px;
  opacity: 0.75;
  color: white;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1;
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}
/* 천천히 회전하는 애니메이션 정의 */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 이 클래스를 가진 요소는 8초 동안 한 바퀴씩 무한히 회전합니다 */
.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}